@model IEnumerable<ExpenseManagment.Models.IncomeType>

@{
    ViewData["Title"] = "Index";
}

@await Component.InvokeAsync("IndexHeader", "Income Types")

<table data-toggle="table"
       data-search="true"
       data-pagination="true"
       class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
