@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Filter
            </div>
            <div class="panel-body">
                <label>
                    Month
                </label>
                <select id="month" name="monthId" class ="form-control" asp-items="ViewBag.Months"></select>
                <input id="filter" type="submit" value="Filter" onclick="filterMonths()" class="btn btn-primary" />
            </div>
        </div>
    </div>
</div>

<div id="container"></div>
@section Scripts{
    <script src="~/lib/highcharts/highcharts.js"></script>
    <script src="~/js/dashboard.js"></script>
}